
*{
	margin: 0;
	padding: 0;
}
#wrap {
	height: 619px;
	width: 80;
	
	background-size:cover;
	background-repeat: no-repeat;
	background-position:center;
	
	position: relative;
}
#head {
	height: 80px;
	width: 80;
	background-color: red;
	text-align: center;
}
#dy {
	height: 40px;
	width: 80;
	background-color: lightblue;
	text-align: center;
}

 
#haha {
	height: 500px;
	width: 80;
	text-align: center;
	background-color: white;
}
#h1{
	height: 10px;
	width: 80;
	background-color: white ;
	text-align: center;
	width: 100%;
}
#h2{
	height: 30px;
	width: 80;
	background-color: white ;
	text-align: center;
	float: left;
	width: 100%;
}

#h3{
	height: 10px;
	width: 80;
	background-color: #dddcde;
	text-align: center;
	float: left;
	width: 100%;
	text-decoration:underline;

}
#h4{
	height: 1px;
	width: 80;
	background-color: #4e4e4e;
	text-align: center;
	float: left;
	width: 100%;
	text-decoration:underline;
}